.masthead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.masthead__menu-and-search {
    grid-column-start: 1;
    grid-row-start: 1;
    padding-left: 20px;


}
.masthead__icon{
    font-size: 11px;
    padding: 9px 7px;
    display: inline-block;
    align-items: center;


}
.masthead__menu-and-search:hover{
    background-color: #f7f7f5;
}

.masthead__actions {
    grid-column-start: 3;
    grid-row-start: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.masthead__technologies {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
}

.masthead__technology {
    margin: 0 4px;
}

.masthead__technology-list{
    color: #6f6f6f;
    font-size: 10px;
    text-transform: uppercase;
}

.masthead__date {
    grid-column-start: 1;
    grid-row-start: 3;
    font-size: 11px;
    display: flex;
    align-items: flex-end;
}

.masthead__logo {
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: center;
}

.masthead__paper {
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 11px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
